{% extends 'layout.twig' %}

{% block page_title %}Not Found | {% endblock %}
{% block container_id %}notfound{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 style="font-size: 8rem;">404</h1>
        <a href="{{ config('site_url') }}">Back to Home</a>
    </div>
{% endblock %}
